{% extends 'base.html.twig' %}

{% block title %}Reply{% endblock %}

{% block body %}
    <h1>Reply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reply.id }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ reply.idUser }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reply.contenu }}</td>
            </tr>
            <tr>
                <th>Date_reponse</th>
                <td>{{ reply.dateReponse ? reply.dateReponse|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reply_index') }}">back to list</a>

    <a href="{{ path('app_reply_edit', {'id': reply.id}) }}">edit</a>

    {{ include('reply/_delete_form.html.twig') }}
{% endblock %}
