{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_participant</th>
                <th>Id_event</th>
                <th>Nom_participant</th>
                <th>Date_inscription</th>
                <th>Evenement_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.id_participant }}</td>
                <td>{{ participation.id_event }}</td>
                <td>{{ participation.nom_participant }}</td>
                <td>{{ participation.date_inscription ? participation.date_inscription|date('Y-m-d') : '' }}</td>
                <td>{{ participation.evenement_nom }}</td>
                <td>
                    <a href="{{ path('participation_show', {'id': participation.id_participant}) }}">View</a>
                    <form method="post" action="{{ path('participation_delete', {'id': participation.id_participant}) }}" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation.id_participant) }}">
                        <button type="submit">Cancel Ticket</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No participations found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">Back to Events</a>
{% endblock %}
