{% extends 'base.html.twig' %}

{% block title %}Evenement Index{% endblock %}

{% block body %}
    <h1>Evenement Index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Id_event</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Organisateur</th>
                <th>Max Participants</th>
                <th>Status</th>
                <th>Ticket Price</th>
                <th>Inscription Deadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.organisateurNom }}</td>
                <td>{{ evenement.nombreMaxParticipants }}</td>
                <td>{{ evenement.status }}</td>
                <td>{{ evenement.ticketPrix }}</td>
                <td>{{ evenement.periodeInscriptionFin }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">View</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Edit</a>
                    
                    {% if evenement.nombreMaxParticipants > 0 %}
                        <a href="{{ path('participation_buy', {'id': evenement.id}) }}" class="btn btn-primary">Buy Ticket</a>
                    {% else %}
                        <span style="color: red;">Sold Out</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <a href="{{ path('app_evenement_new') }}">Create new</a>

{% endblock %}
