{% extends 'base.html.twig' %}

{% block title %}Evenement Details{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Evenement Details</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ evenement.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ evenement.titre }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ evenement.description }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Heure</th>
                    <td>{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Lieu</th>
                    <td>{{ evenement.lieu }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ evenement.type }}</td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>{{ evenement.organisateurNom }}</td>
                </tr>
                <tr>
                    <th>Max Participants</th>
                    <td>{{ evenement.nombreMaxParticipants }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ evenement.status }}</td>
                </tr>
                <tr>
                    <th>Ticket Price</th>
                    <td>{{ evenement.ticketPrix }}</td>
                </tr>
                <tr>
                    <th>Inscription Deadline</th>
                    <td>{{ evenement.periodeInscriptionFin }}</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-4">
            <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Back to List</a>
            <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-warning">Edit</a>
        </div>
    </div>
{% endblock %}
