{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Id_event</th>
                <td>{{ evenement.idEvent }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.type }}</td>
            </tr>
            <tr>
                <th>Organisateur_nom</th>
                <td>{{ evenement.organisateurNom }}</td>
            </tr>
            <tr>
                <th>Nombre_max_participants</th>
                <td>{{ evenement.nombreMaxParticipants }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ evenement.status }}</td>
            </tr>
            <tr>
                <th>Ticket_prix</th>
                <td>{{ evenement.ticketPrix }}</td>
            </tr>
            <tr>
                <th>Periode_inscription_fin</th>
                <td>{{ evenement.periodeInscriptionFin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
